 

 body {
      font-family:Arial,Sans-serif;
      background-color:grey;
      }

  header{
        background-color:orange;
        color:purple;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        padding:10px;
        border-width:5;
        border-style:solid;
        border-color:black;
        }

  section{
        background-color:pink;
        color:maroon;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        border-width:5;
        border-style:solid;
        border-color:black;
        padding:10px;
  }

  footer{
        background-color:green;
        color:white;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        border-width:5;
        border-style:solid;
        border-color:black;
  }


